{
	"root": true,
	"env": {
		"browser": true,
		"es2022": true,
		"node": true,
	},
	"extends": ["eslint:recommended", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"curly": "error",
		"eqeqeq": ["error", "smart"],
		"no-lonely-if": "error",
		"no-var": "error",
		"prefer-const": ["error", { "destructuring": "all" }],
		"arrow-body-style": ["error", "as-needed"],
		"quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }],
		"no-console": ["warn", { "allow": ["warn", "error"] }],
		"prefer-arrow-callback": "error",
		"object-shorthand": "error",
		"no-shadow": ["error", { "builtinGlobals": false }],
		"spaced-comment": ["error", "always"],
		"no-nested-ternary": "error",
		"array-callback-return": ["error", { "allowImplicit": true, "checkForEach": true }],
		"func-style": ["error", "expression"],
		"eol-last": ["error", "always"],
		"no-use-before-define": "off",
		"newline-before-return": "warn",
		"sort-imports": ["error", { "ignoreDeclarationSort": true }],
		"no-undef": "off",
	},
	"ignores": ["build/", ".svelte-kit/", "dist/"],
}
